 .master_detail .detail_list {
    background-color: #ccc;
    height: 100%;
    widows: 100%;
  }
  
  .master_detail .detail_list article {
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    position: absolute;
    top: 0;
  }
  
  .master_detail .detail_list article.fadeIn {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
  }
  
  .master_detail .detail_list article.grow {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .nav-item {
    list-style: none;
  }
  
  .nav-item .dropdown-menu {
    margin-right: 0px;
  }

  .nav-link {
    display: block;
    padding: 0;
}

.dropdown-menu {
  background-color: grey;
}

.dropdown-item {
  background-color: grey;
}


/* Personal Area*/
body {
  background-color: #212529;
}

#personalAreaClose>svg:hover {
  cursor: pointer;
  fill: #a011dc;
}

#personalArea>h1 {color: #fff;}

a {
  color: #fff !important;
  text-decoration: none;
  opacity: 1;
  color: white;
}

#personalAreaHeader {
  margin: 10px;
}

#personalAreaClose {
  margin: 10px;
}

#navPanel {
  margin-top: 10px;
}

#nav-tab>a {
  font-size: 25px;
}

.card {
  ba
}

.nav-tabs .nav-link {
  border: 0px solid transparent;
  padding: 10px;
}

.nav-tabs>a, .nav-tabs>a:hover {
  border: 0;
  margin-left: 10px;
 }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #a011dc;
  border: 0;
  color: white;
}
