<form method="POST">
    <div class="form-group">
        <input type="text" class="form-control" id="donatorInput" placeholder="Donator">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="amountInput" placeholder="Amount">
    </div>
    <div class="form-group">
        <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Enter description here"></textarea>
    </div>
    <div class="text-center">
        <button type="button" id="addFormButton" class="btn btn-dark btn-block">Add</button>
    </div>
</form>

<script>
    $(function(){
	$('#addFormButton').click(function(){
    console.log('here')
    var data = {
            donator: $('#donatorInput').val(),
            amount: $('#amountInput').val(),
            description: $('#descriptionInput').val(),
                }
    $.ajax({
      url: "/donation/",
      type: 'POST',
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify(data),
      success: function(response){
        console.log(data);
        console.log(response);
			},
			error: function(error){
			}
		});
    });
});
</script>