{% extends "base.html" %}


{% block title %}Index{% endblock %}


{% block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/index.css') }}">
{% endblock %}


{% block content %}
<div class="container">
    <h3>Payroll Tables w/ Bootstrap</h3>
    <div class="master_detail">
      <div class="row">
          <div class="col-md-2 col-sm-12 col-xs-12">
            <div class="master_list">
              <div class="list-group">
              {% for studio_member in studio_members %}  
                <button type="button" class="list-group-item" data-option="{{ studio_member.id }}">{{ studio_member.nickname }}</button>
              {% endfor %}
              </div>
            </div>
          </div>
          
      </div>
      <div class="row">
          <div class="col-md-10 col-sm-12 col-xs-12" id="content">
            
          </div>
      </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('.static', filename='js/index.js') }}"></script>
{% endblock %}