{% extends "base.html" %}


{% block title %}Index{% endblock %}


{% block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/index.css') }}">
{% endblock %}


{% block content %}
<div class="container">
    <h3>Payroll Tables w/ Bootstrap</h3>
    <div class="master_detail">
      <div class="row">
          <div class="col-md-2 col-sm-12 col-xs-12">
            <div class="master_list">
              <div class="list-group">
              {% for nickname in nicknames %}  
                <button type="button" class="list-group-item" data-option="option{{ loop.index }}">{{ nickname }}</button>
              {% endfor %}
              </div>
            </div>
          </div>
          
      </div>
      <div class="row">
              <div class="col-md-10 col-sm-12 col-xs-12">
            <div class="detail_list">
              <article class="option1">
                  <h3>Paroll Fields: EmpPers</h3>
                  <button type="button" class="btn btn-flat btn-warning"><i class="fa fa-table"></i>&nbsp;Table_Fields_01</button>
                  <button type="button" class="btn btn-flat btn-warning"><i class="fa fa-table"></i>&nbsp;Table_Fields_02</button>
                  <button type="button" class="btn btn-flat btn-warning"><i class="fa fa-table"></i>&nbsp;Table_Fields_03</button>
                  <button type="button" class="btn btn-flat btn-warning"><i class="fa fa-table"></i>&nbsp;Table_Fields_04</button>
                  <button type="button" class="btn btn-flat btn-warning"><i class="fa fa-table"></i>&nbsp;Table_Fields_05</button>
              </article>
              <article class="option2">
                  <h3>Paroll Fields: EmpComp</h3>
                  <button type="button" class="btn btn-flat btn-warning"><i class="fa fa-table"></i>&nbsp;Table_Fields_01</button>
                  <button type="button" class="btn btn-flat btn-warning"><i class="fa fa-table"></i>&nbsp;Table_Fields_02</button>
                  <button type="button" class="btn btn-flat btn-warning"><i class="fa fa-table"></i>&nbsp;Table_Fields_03</button>
                  <button type="button" class="btn btn-flat btn-warning"><i class="fa fa-table"></i>&nbsp;Table_Fields_04</button>
                  <button type="button" class="btn btn-flat btn-warning"><i class="fa fa-table"></i>&nbsp;Table_Fields_05</button>
              </article>
              <article class="option3">
                  <h3>Paroll Fields: EmpHJob</h3>
                  <button type="button" class="btn btn-flat btn-warning"><i class="fa fa-table"></i>&nbsp;Table_Fields_01</button>
                  <button type="button" class="btn btn-flat btn-warning"><i class="fa fa-table"></i>&nbsp;Table_Fields_02</button>
                  <button type="button" class="btn btn-flat btn-warning"><i class="fa fa-table"></i>&nbsp;Table_Fields_03</button>
                  <button type="button" class="btn btn-flat btn-warning"><i class="fa fa-table"></i>&nbsp;Table_Fields_04</button>
                  <button type="button" class="btn btn-flat btn-warning"><i class="fa fa-table"></i>&nbsp;Table_Fields_05</button>
              </article>
              <article class="option4">
                  <h3>Paroll Fields: Table_04</h3>
                  <button type="button" class="btn btn-flat btn-warning"><i class="fa fa-table"></i>&nbsp;Table_Fields_01</button>
                  <button type="button" class="btn btn-flat btn-warning"><i class="fa fa-table"></i>&nbsp;Table_Fields_02</button>
                  <button type="button" class="btn btn-flat btn-warning"><i class="fa fa-table"></i>&nbsp;Table_Fields_03</button>
                  <button type="button" class="btn btn-flat btn-warning"><i class="fa fa-table"></i>&nbsp;Table_Fields_04</button>
                  <button type="button" class="btn btn-flat btn-warning"><i class="fa fa-table"></i>&nbsp;Table_Fields_05</button>
              </article>
            </div>
          </div>
      </div>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{{url_for('.static', filename='js/index.js')}}"></script>
{% endblock %}