
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nickname</th>
      <th scope="col">Amount</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for received_donation in studio_member.received_donations %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ received_donation.donation_source.nickname }}</td>
      <td>{{ received_donation.amount }}</td>
      <td>{{ received_donation.description }}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>
<div class="float-right">
  <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addModal">
    Add
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          <select class="form-group form-control" id="dropdownId">
              {% for donator in donators | rejectattr('id', 'eq', studio_member.id) %}
                <option value="{{ donator.id }}">{{ donator.nickname }}</option>
              {% endfor %}
          </select>
          <div class="form-group">
              <input type="text" class="form-control" id="amountInput" placeholder="Amount">
          </div>
          <div class="form-group">
              <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Enter description here"></textarea>
          </div>
          <div class="text-center">
              <button type="button" id="addFormButton" class="btn btn-dark btn-block">Add</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    if ($('#dropdownId').children('option:selected').val() == undefined) {
      $('#addFormButton').attr('disabled', true);
    }  
  $('#addFormButton').click(function(){
  console.log('here')
  var donationTarget = '{{ studio_member.id }}'  //i know that i will have problems with this in the future
  var donationSource = $('#dropdownId').children('option:selected').val()
  console.log(donationTarget)
  console.log(donationSource)
  var data = {
          donation_target: donationTarget,
          donation_source: donationSource,
          amount: $('#amountInput').val(),
          description: $('#descriptionInput').val(),
              }
              
  $.ajax({
    url: "/donation/",
    type: 'POST',
    contentType: "application/json; charset=utf-8",
    data: JSON.stringify(data),
    success: function(response){
      console.log(data);
      console.log(response);
    },
    error: function(error){
    }
  });
  });
});
</script>